<nav class="navbar navbar-expand-lg     sticky-top">
    <a class="navbar-brand text-white" href="/home">Karlo Password Secure</a>

    <button class="navbar-toggler  navbar-light bg-light" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Password Catagerious</a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="/addnewcategerious">Add New Catagerious</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/viewallcategerious">View All Catagerious</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Password Details</a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="/addnewpassword">Add New Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/viewallpasswords">View All Password</a>
                </div>
            </li>

        </ul>

    </div>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="btn btn-outline-success my-2 ml-auto border-white text-white" href="/users/logout">Log out</a>

    </div>
</nav>


<span class="userName">Welcome user -: <%=session.userName%></span><br>