
html
{
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}


ul.feature {
  list-style-type: circle;
}
div.sectioncontain
{
  margin-top: 30px;
}
body
{
  background-image: url("/images/pass.jpg");
       background-size:100% 100%;
       background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: center; 
    
}
div.information
{

  opacity: 0.9;
    background-image: url("/images/password2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
   
}
div.information:hover
{

  opacity: 0.6;

}
form
{
  border:1px solid white;
}

div .nav-link
{
  color:#f7ea2f;
}

li .dropdown-menu
{
  background-color:red;
  
}
 span[class="userName"]
{
  
   float:right;
  color:#f7ea2f;
}


div table tr
{
  background-color:white;
}
a[class="delete"]
{
  margin-left:20px;
  color:red;
  
}
a[class="edit"]
{
  color:green;
  
}

td[class="action"]
{
text-align:center;
}
header h1
{
  color:#e4c029;
}

div img
{ 
   
  border-radius: 80px 10px 80px 10px;
}

footer
{
  margin-top:280px;
}



